* {
    font-family: "Gill Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}










.layoutContainer {
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 25px 45px;
}

.layoutContainer>.content {
    max-width: 1024px;
    margin: 0 auto;
}









.loader__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    position: relative;

    margin-top: 40vh;
}

.loader.search__input{
    margin-top: 0;
    width: 20px;
    height: 20px;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #212121;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader.search__input::after,
.loader.search__input::before {
    content: '';
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #212121;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}










.home__container {
    display: flex;
    flex-direction: column;
}

.tabs__container {
    display: flex;
    flex-direction: row;
}

.tab {
    display: block;
    width: 100%;
    max-width: 175px;

    border: 1px solid #212121;
    border-radius: 8px;
    margin: 0;
    margin-right: 4px;
    text-align: center;
    padding: 8px 0;

    transition: all .3s ease;

    user-select: none;
}

.tab:hover {
    background: #212121;
    color: white;
    cursor: pointer;
}

.tab.active {
    background: #212121;
    color: white;
}










.search__wrapper{
    display: block;
    position: relative;
    width: 100%;
}

.searchInput {
    width: calc(100% - 36px);
    height: 40px;
    border-radius: 25px;
    outline: none;

    border: 1px solid #212121;

    padding: 0 18px;

    margin: 24px 0;
    font-size: 16px;

    transition: all .3s ease;
}

.searchInput.no-bottom-radius{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.searchInput:focus {
    color: #212121;
}

.searchInput[placeholder]{
    color: #212121;
    transition: all .3s ease;
}

.cancel__search{
    display: block;
    position: absolute;
    top: 32px;
    right: 14px;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease;
}

.cancel__search:hover{
    transform: scale(1.1);
}

.search__results{
    position: absolute;
    /* left: 0; */
    /* bottom: 0; */

    width: 100%;
    /* height: 600px; */
    height: auto;
    max-height: 500px;

    z-index: 100;
    top: 55px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.loader__search__dropdown{
    width: 200px;
    height: 200px;
}

.single__result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-weight: 600;

    height: 100px;
    
    border-bottom: 1px solid #212121;
    cursor: pointer;
}

.single__result:hover{
    background-color: #212121;
}

.single__result:hover > .result__left > .result__name, 
.single__result:hover > .result__left > .ratings__popularity > .vote > .count,
.single__result:hover > .result__left > .ratings__popularity > .popularity{
    color: white;
}

.single__result:hover > .result_right > .search__result__cover{
    transform: scale(1.2);
}

.result__left{
    display: flex;
    flex-direction: column;
    margin: 0 12px;
    width: 350px;
    width: 100%;
    padding: 12px 24px;
}

.result__name{
    margin-top: 0;
    transition: all .3s ease;
    font-weight: 600;
}

.ratings__popularity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vote{
    display: inline-flex;
}

.average{
    color: #f5c519;
    font-weight: 400;
}

.count{
    font-size: 14px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all .3s ease;
}

.result__right{
    display: block;
    width: 70%;
    margin-left: auto;
}

.search__result__cover{
    display: block;
    /* width: 100%; */
    margin: auto;
    width: 600px;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease;
}

.no__results{
    display: block;
    height: 400px;
}


.no__results > h3{
    margin: 0;
    text-align: center;
    background-color: white;
    padding: 15% 0;
}






.items__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 24px;
    flex: 50%;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    background-color: #212121;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.single__item:hover {
    background: white;
    color: #212121;
}

.single__item:hover > h4 {
    transform: scale(1.1);
    color: #212121;
}

.single__item:hover>.cover__image__wrapper>.cover__image {
    transform: scale(1.1);
}

.single__item>h4 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;

    margin: 0;
    padding: 18px 0;

    transition: all .3s ease;
}

.cover__image__wrapper {
    display: block;
    overflow: hidden;
    background-color: #212121;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cover__image {
    display: block;
    /* width: 100%; */
    margin: auto;
    width: 65%;
    height: 500px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease;
}










.details__container {
    display: flex;
    flex-direction: column;
}

.back {
    display: inline-flex;
    justify-content: space-evenly;
    
    border: 1px solid transparent;
    border-radius: 8px;
    background: transparent;
    margin: 0;
    margin-right: 4px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    width: 85px;

    transition: all .3s ease;

    text-align: center;
}

.back:hover {
    background: #212121;
    color: white;
}

.back>b {
    font-size: 18px;
}

.back>p {
    font-size: 18px;
    margin: 0;
}

.poster__container{
    display: block;
    margin: 16px auto;

    width: 100%;
    height: 400px;
    background: #212121;
    border-radius: 8px;
}

.poster {
    display: block;
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease;
    border-radius: 8px;
}

.headline__genres{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.detail__headline{
    margin: 0;
    margin-right: auto;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px;
}

.genres__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.genre{
    display: block;
    padding: 0 14px;
    color: #212121;
    border: 1px solid #212121;
    font-weight: 400;
    border-radius: 4px;
    height: 20px;
    margin: auto 4px;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
    margin-bottom: 8px;
}

.detail__tagline{
    font-style: italic;
    margin: 0;
    margin-bottom: 24px;
    font-size: 18px;
}

.detail__not__found{
    text-align: center;
}













/* mobile - portrait */
@media (max-width: 414px) { 
    .layoutContainer{
        padding: 12px;
    }



    .tabs__container{
        justify-content: space-between;
    }

    .tab{
        max-width: 48%;
        margin: 0;
    }

    .searchInput{
        margin: 12px 0;
    }


    .single__item{
        flex: 100%;
        max-width: 100% !important;
    }

    .cover__image{
        width: 100%;
    }


    .searchInput{
        border-radius: 8px;
        width: calc(100% - 24px);
        padding: 0 12px;
    }
    

    .cancel__search{
        top: 20px;
        right: 8px;
    }



    .result__right{
        display: none;
    }


    .back{
        margin-top: 6px;
        line-height: 10px;
        margin-bottom: 12px;
    }

    .back > p {
        padding-top: 2px;
    }

    
    .poster__container{
        margin: 12px 0;
    }

    .poster{
        background-size: cover;
    }

    .headline__genres{
        flex-direction: column;
    }

    .detail__headline{
        margin: 12px auto;
        margin-bottom: 24px;
        text-align: center;
    }
    
    .genre{
        margin-bottom: 8px;
    }

    .genres__row{
        justify-content: center;
    }

    .detail__tagline{
        text-align: center;
        margin-top: 12px;
        font-size: 14px;
    }


}

/* tablet - portrait */
@media (min-width: 415px) and (max-width: 620px) { 
    
    .tab{
        max-width: 98%;
    }

    .single__item{
        flex: 100%;
        max-width: 100% !important;
    }

    .cover__image{
        width: 85%;
    }
}

/* tablet - portrait */
@media (min-width: 621px) and (max-width: 834px) { 
    .single__item{
        flex: 50% 1;
        max-width: 48.5% !important;
    }

    .cover__image{
        width: 100%;
    }
}

/* laptop */
@media (min-width: 835px) and (max-width: 1366px) { 
    .single__item{
        max-width: 32%;
    }

    .cover__image{
        width: 100%;
    }

 }

/* desktop */
@media (min-width: 1367px) { 
    .single__item{
        max-width: 32%;
    }

    .cover__image{
        width: 100%;
    }

 }